<!DOCTYPE html>
<html>
  <head>
    <title>Rodoslov</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h2><%= link_to 'L O T U S', trees_path %></h2>
      <nav class="menu menu-1">
        <ul>
          <li><%= link_to 'Люди', people_path%></li>
          <li><%= link_to 'Семьи', families_path%></li>
        </ul>
      </nav>
    </header>
    <div class="main"> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render "layouts/loading" %>
      <%= yield %>
    </div>
    <footer>
        <h2>Contacts</h2>
        <a href="https://github.com/Croud9/Rood" target="_blank">Create by Svyat Melihov | Croud9</a>
    </footer>
  </body>
</html>

